<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <arg name="laserscan_topic" default="rslidar_laserscan"
        doc="The topic in which the LiDAR laserscan data is published" />
    <arg name="pointcloud_topic" default="rslidar_points"
        doc="The topic in which the LiDAR pointcloud data is published" />
    <arg name="nodelet_manager" default="rslidar_nodelet_manager"
        doc="The topic in which the LiDAR pointcloud data is published" />

    <node pkg="nodelet" type="nodelet" name="pointcloud_to_laserscan"
        args="load pointcloud_to_laserscan/pointcloud_to_laserscan_nodelet $(arg nodelet_manager)"
        output="screen">
        <remap from="cloud_in" to="$(arg pointcloud_topic)" />
        <remap from="scan" to="$(arg laserscan_topic)" />
        <rosparam file="$(find rslidar_laserscan)/cfg/rslidar16_to_laserscan.yaml" command="load" />
    </node>
</launch>